<!-- Start of location and social networks -->
<div class="social-networks__location-container container-fluid color-2">

  <div class="row social-networks__row">
    <div class="col-6 social-networks__col">
      <p class="social-networks__location">
        Cancún, Quintana Roo
      </p>
    </div>

    <div class="col-6 social-networks__col-2">
      <!-- Start of social networks -->
      <div class="row social-networks__row-2">
        <div class="col social-networks__col-3 text-center">
          <a href="https://www.linkedin.com/in/juliocsantaman/"><i class="fab fa-linkedin social-networks__icons"
              title="Linkedin"></i></a>

          <a href="https://www.facebook.com/juliocsantaman/"><i class="fab fa-facebook social-networks__icons"
              title="Facebook"></i></a>

          <a href="https://twitter.com/juliocsantaman/"><i class="fab fa-twitter social-networks__icons"
              title="Twitter"></i></a>
          <!-- <br> -->
          <a href="https://www.instagram.com/juliocsantaman/"><i class="fab fa-instagram social-networks__icons"
              title="Instagram"></i></a>

          <a href="https://www.pinterest.com.mx/juliocsantaman/"><i class="fab fa-pinterest social-networks__icons"
              title="Pinterest"></i></a>
        </div>

      </div>
      <!-- End of social networks -->

    </div>
  </div>
</div>
<!-- End of location and social networks -->

<!-- Start of footer -->
<footer class="footer color-1">
  <div class="footer__container container-fluid">
    <small class="footer__text">Copyright &copy; 2022 - Made by Julio Santaman</small>
  </div>
</footer>
<!-- End of footer -->