/* Style start of footer */
footer {
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}
/* Style end of footer */

/* Style start of social networks */
.location-social-networks {
  padding: 15px;
  color: #FFFFFF;
}

.social-network-icons {
  color: #FFFFFF;
  font-size: 15px;
  margin: 5px;
}

.social-network-icons:hover {
  color: #36AF9A;
}

.location {
  text-align: center;
}
/* Style end of social networks */