/* Style start of footer */
.footer {
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}
/* Style end of footer */

/* Style start of social networks */
.social-networks__location-container {
  padding: 15px;
  color: #FFFFFF;
}

.social-networks__icons {
  color: #FFFFFF;
  font-size: 15px;
  // margin: 5px;
}

.social-networks__icons:hover {
  color: #36AF9A;
}

.social-networks__location {
  text-align: center;
  margin: 0rem;
}

.social-networks__col-3 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-networks__row-1 {
  display: flex;
  align-items: center;
}

.social-networks__col-1 {
  vertical-align: middle;
}
/* Style end of social networks */

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap 
*/

/* 
// Small devices (landscape phones, 576px and up) 
*/
@media (min-width: 576px) { }

/* 
// Medium devices (tablets, 768px and up) 
*/
@media (min-width: 768px) { }

/* 
// Large devices (desktops, 992px and up) 
*/
@media (min-width: 992px) { 
  .social-networks__icons {
    font-size: 20px;
  }
}

/* 
// Extra large devices (large desktops, 1200px and up) 
*/
@media (min-width: 1200px) { }