<!-- Start of header -->
<header class="header color-1">

  <!-- Start of nav -->
  <nav class="navbar navbar-expand-lg navbar-dark header__navbar">
    <a class="navbar-brand header__title" [routerLink]="['']">
      <span class="color-4">
        <strong> {{ 'ROOT.APP.ORGANISMS.HEADER_ORGANISM.TITLE' | translate }} </strong>
      </span>
      <i class="fas fa-laptop-code"></i>
    </a>
    <button class="navbar-toggler header__navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon header__navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse header__navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav header__navbar-nav">
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" [routerLink]="['']" [class.active]="isLinkActive('')">
            {{ 'ROOT.APP.ORGANISMS.HEADER_ORGANISM.TEXTS.T1' | translate }}
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" [routerLink]="['contact']" [class.active]="isLinkActive('contact')">
            {{ 'ROOT.APP.ORGANISMS.HEADER_ORGANISM.TEXTS.T2' | translate }}
            <i class="fas fa-address-book"></i>
          </a>
        </li>
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" href="https://github.com/juliocsantaman" target="_blank">
            {{ 'ROOT.APP.ORGANISMS.HEADER_ORGANISM.TEXTS.T3' | translate }}
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!-- End of nav -->

</header>
<!-- End of header -->