h2,
h3 {
  font-size: 17px;
}

.my-picture {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

/* Style start of main */
main {
  min-height: 600px;
}

section h2 .fas {
  color: #6D858C;
}

section h2 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Style end of main */

/* Style start of scrollbar */
::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background-color: #757575;
  /* background-color: #BDBDBD; */
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 150, 136, 0.5); */
  background: #36AF9A;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: rgba(0, 150, 136, 1); */
  background: rgba(54, 175, 154, 0.7);
}

/* Style end of scrollbar */

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap 
*/

/* 
// Small devices (landscape phones, 576px and up) 
*/
@media (min-width: 576px) {}

/* 
// Medium devices (tablets, 768px and up) 
*/
@media (min-width: 768px) {

  /* My picture - Julio Santaman */
  .my-picture {
    width: 150px;
    height: 150px;
  }
}

/* 
// Large devices (desktops, 992px and up) 
*/
@media (min-width: 992px) {

  h2,
  h3 {
    font-size: 20px;
  }
}

/* 
// Extra large devices (large desktops, 1200px and up) 
*/
@media (min-width: 1200px) {

  /* My picture - Julio Santaman */
  .my-picture {
    width: 200px;
    height: 200px;
  }

}