<app-header-organism></app-header-organism>

<!-- Start of main -->
<main>
  <div class="container">
    <p class="text-center">
      <img class="my-picture rounded-circle" src="./assets/img/juliocsantaman.jpg" alt="Julio Santaman"
        title="Julio Santaman">
    </p>

    <section class="education">
      <h2> <strong>Education</strong> <i class="fas fa-university"></i></h2>
      <p>
        TecMilenio University Campus Cancún - Software Development Engineering (2018 - 2022).
      </p>
    </section>

    <section class="technical-skills">
      <h2><strong>Technical Skills</strong> <i class="fas fa-cogs"></i></h2>
      <!-- <p> -->
      <h3>Web Development</h3>
      <ul>
        <li>HTML.</li>
        <li>CSS.</li>
        <li>JavaScript.</li>
        <li>Nodejs.</li>
        <li>SQL/Firebase.</li>
        <li>Git (version control).</li>
        <li>GitHub.</li>
      </ul>

      <h3>Frameworks</h3>
      <ul>
        <li>Bootstrap.</li>
        <li>Angular.</li>
      </ul>
      <!-- </p> -->
    </section>

    <section class="work-experience">
      <h2><strong>Work Experience</strong> <i class="fas fa-briefcase"></i></h2>
      <h3>Diplus</h3>
      <p>
        Working remotely as a Web developer using HTML, CSS, Bootstrap, JavaScript, and Git
        (Github) technologies.
      </p>
    </section>

    <section class="languages">
      <h2><strong>Languages</strong> <i class="fas fa-language"></i></h2>
      <ul>
        <li>Spanish (native).</li>
        <li>English (intermediate).</li>
      </ul>
    </section>

  </div>
</main>
<!-- End of main -->

<app-footer-organism></app-footer-organism>