h1 {
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.bg-h1 {
  background-color: #455A64;
}

.bg-nav {
  background-color: #BDBDBD;
}

.img-home {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
}

.bg-tab-content {
  background-color: #CFD8DC;
  min-height: 500px;
}

.bg-location {
  background-color: #607D8B;
  color: #FFFFFF;
}

.bg-social-networks {
  background-color: #607D8B;
  color: #FFFFFF;
}

footer {
  text-align: center;
  padding: 10px;
}

.bg-footer {
  background-color: #455A64;
  color: #FFFFFF;
}