body {
  font-family: 'Roboto';
  font-size: 15px;
  
}

h1 {
  margin-bottom: 0;
}

main {
  min-height: 600px;
}

  /* Img home. */
  .img-home {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin-top: 10px;
  }

/* Color of social network icons. */
.social-network-icons {
  color: #FFFFFF;
  font-size: 15px;
  margin: 5px;
}

/* I modified the scrollbar */
::-webkit-scrollbar {
  width: 15px;
  
}

::-webkit-scrollbar-track {
  background-color: #757575;
  /* background-color: #BDBDBD; */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 150, 136, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 150, 136, 1);
}
