/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tokens (copiados tal cual de React) */
:root {
  --background: 0 0% 100%;
  --foreground: 240 6% 10%;
  --border: 240 4% 88%;

  --primary: 262 83% 58%;
  --primary-foreground: 0 0% 100%;

  --muted-foreground: 240 4% 46%;
  --radius: 0.5rem;
}


/* Style start of body */
// body {
//   font-family: 'Roboto';
//   font-size: 15px;
//   color: #000000;
// }

/* Style end of body */

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap 
*/

/* 
// Small devices (landscape phones, 576px and up) 
*/
@media (min-width: 576px) {}

/* 
// Medium devices (tablets, 768px and up) 
*/
@media (min-width: 768px) {
  main {
    min-height: 1024px;
  }
}

/* 
// Large devices (desktops, 992px and up) 
*/
@media (min-width: 992px) {
  body {
    font-size: 17px;
  }
}

/* 
// Extra large devices (large desktops, 1200px and up) 
*/
@media (min-width: 1200px) {
  main {
    min-height: 1080px;
  }
}